.menuContainer {
  display: flex;
  color: #ffff;
  align-items: center;
  justify-content: space-between;
  background: rgba(231, 227, 252, 0.08);
  padding: 10px;
  margin-right: 10px;
  cursor: grab;
  margin-top: 8px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
.subMenuContainer {
  color: #ffff;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-right: 10px;
  cursor: grab;
  margin-top: 8px;
  display: flex;
  align-items: center;
}

