.questionContainer {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}
.answerContainer {
  display: flex;
}
.buttonContainerStyles {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonSaveStyles {
  :hover {
    background: red;
  }
}
.css-18jfu8d-MuiDivider-root {
  margin: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-width: 0;
  border-style: solid;
  border-color: #e6e8f0;
  border-bottom-width: thin;
  display: none;
}

.hover-link:hover {
  text-decoration-line: underline;
  color: #5048e5 !important;
}

.form-group{
  margin-bottom:15px
}

label {
  display: inline-block;
  max-width: 100%;
  font-weight: 700;
}

.form-change-info-profile label {
  color: #636363;
  display: block;
  clear: both;
}
.form-change-info-profile input, .form-change-info-profile select {
  border-radius: 0;
  border-color: #000;
  box-shadow: 1px 1px 0 0 #0e0e0e;
  background: #e9e9e9;
  max-width: 400px;
}