.App {
  text-align: center;
}

.mt-20 {
  margin-top: 20px;
  margin-left: 50px;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
a {
  text-decoration: none;
}
@media (min-width: 900px) and (max-width: 1200px) {
  .container {
    width: 768px;
    margin: 0 auto;
    padding: 0 20px;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  .container {
    width: 80%;
    /* max-width: 900px; */
    margin: 0 auto;
    padding: 0 20px;
  }
}
@media (max-width: 600px) {
  .container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 10px;
  }
}

.hover-card-bg-yellow:hover {
  background: rgb(239, 252, 187);
}
.hover-card-bg-blue:hover {
  background: rgb(198, 247, 252);
}
.hover-card-bg-orange:hover {
  background: rgb(255, 203, 116);
}

/* when price sale */
.cost-money::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #114ac6;
  top: 15px;
}
/*  */
@keyframes run {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-2000px);
  }
}
.container-students {
  animation-name: run;
  animation-duration: 90s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
